body {
  background-color: rgb(71, 71, 240);
  font: normal 15pt Arial;
}

header {
  text-align: center;
  color: white;
}

section {
  background: white;
  border-radius: 18px;
  width: 500px;
  margin: auto;
  padding: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}

footer {
  text-align: center;
  font-style: italic;
  color: white;
}
